.container{
 width: 98%;
 height: 98%;
 position: absolute;
 margin-bottom: 2%;

}
.container button{
	display: inline-block;
	padding-right: 2%;
	margin-left: 2%;
	margin-top: 3%;
	background-color: white;
	height: 38%;
	width: 20%;
	color: #000000;
	border-radius: 10px;
    box-shadow: 8px 4px 13px #000000;
}
.container span{
	max-width:100%; 
	max-height:70%;
	color: blue;
	font-size: 35px;
	font-family: 'Tangerine', serif;
}
.container img{
max-width:100%; 
max-height:70%;
margin:auto;
display:block;
}